@model dynamic

@{
    WorkContext.Layout.BeforeMain.Add(New.Parts_Title(Title: T("Change Password")), "0");
}

@if (Html.ValidationSummary() != null) {
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-times-circle"></i>&nbsp;&nbsp;@T("Password change was unsuccessful. Please correct the errors and try again.")
        <p>@Html.ValidationSummary()</p>
    </div>
}

<section class="container">
    <div class="row">
        <!-- CHANGE PASSWORD -->
        <div class="col-md-6 col-md-offset-3">
            <h2>@Html.TitleForPage("Change Password")</h2>
            @using (Html.BeginFormAntiForgeryPost(Url.Action("LostPassword"), FormMethod.Post, new { @class = "white-row" })) {
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="newPassword">@T("New password")</label>
                            @Html.Password("password", "", new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label for="confirmPassword">@T("Re-enter Password")</label>
                            @Html.Password("confirmPassword", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="@T("Change Password")" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading...">
                    </div>
                </div>
            }
        </div>
        <!-- /CHANGE PASSWORD -->
    </div>
</section>