@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;

@{
    IEnumerable<KeyValuePair<ArchiveData, int>> archives = Model.Archives;
    var dateTimeLocalization = WorkContext.Resolve<Orchard.Localization.Services.IDateTimeFormatProvider>();
    var monthNames = dateTimeLocalization.MonthNames.ToArray();
}

<div class="archives">
    @if (archives.Count() > 1) {
        int lastYear = archives.First().Key.Year;
        int firstYear = archives.Last().Key.Year;

        <div class="toggle">
            @for (int year = lastYear; year >= firstYear; year--) {
                var yearMonths = archives.Where(m => m.Key.Year == year);

                if (year == lastYear) {
                    <div class="togglet"><i class="toggle-closed fa fa-plus-square-o"></i><i class="toggle-open fa fa-minus-square-o"></i>@year</div>
                    <div class="togglec">
                        @Html.UnorderedList(yearMonths, (t, i) => Html.Link(Html.Raw(string.Format("{0} ({1})", monthNames[t.Key.ToDateTime().Month - 1], t.Value)), Url.BlogArchiveMonth((BlogPart)Model.Blog, t.Key.Year, t.Key.Month)), "archiveMonthList")
                    </div>
                }

                if (year != lastYear) {
                    <div class="togglet"><i class="toggle-closed fa fa-plus-square-o"></i><i class="toggle-open fa fa-minus-square-o"></i>@year</div>
                    <div class="togglec">
                        @Html.UnorderedList(yearMonths, (t, i) => Html.Link(Html.Raw(string.Format("{0} ({1})", monthNames[t.Key.ToDateTime().Month - 1], t.Value)), Url.BlogArchiveMonth((BlogPart)Model.Blog, t.Key.Year, t.Key.Month)), "archiveMonthList")
                    </div>
                }
            }
        </div>
    }
    else if (archives.Count() > 0) {
        @Html.UnorderedList(archives, (t, i) => Html.Link(Html.Raw(string.Format("{0} {2} ({1})", monthNames[t.Key.ToDateTime().Month - 1], t.Value, t.Key.ToDateTime().Year)), Url.BlogArchiveMonth((BlogPart)Model.Blog, t.Key.Year, t.Key.Month)), "archiveMonthList")
    }
    else {
        <p>@T("None found")</p>
    }
</div>